<div id="mycontent" class="pt-6 pb-5 pb-lg-0">
    <div class="container">
        <div class="img-paysuccess d-flex justify-content-center">
            <img src="~/Content/assets/img/paysuccess.png" alt="Thành công" style="width: 300px; height: 170px;">
        </div>
        <div class="d-flex justify-content-center ">
            <div class="fw-bold text-uppercase fs-3 text-success">Đặt xe thành công</div>
        </div>
        <div class="d-flex justify-content-center my-5">
            <a href="@Url.Action("Index", "Home")">
                <button type="button" class="btn btn-success me-2 me-md-5" style="width: 200px;">Trang chủ</button>
            </a>
            <a href="@Url.Action("Triplist", "UserInfo")">
                <button type="button" class="btn btn-success ms-2 ms-md-5" style="width: 200px;">Danh sách chuyến</button>
            </a>
        </div>
    </div>
</div>